p {
    line-height: 1.6;
    display: inline-block;
}

.sidebar,
main,
.rightbar {
    float: left;
}

.sidebar {
    width: 20%;
}

main {
    width: 50%;
    height: 300px;
    overflow: scroll;
}

.rightbar {
    width: 30%;
}

footer {
    clear: both;
}